h1 {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: rgb(5, 197, 255);
    color: white;
    padding: 25px;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)

// Large devices (desktops, 992px and up)
@media (min-width: 992px)

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px)