h1 {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
    color: white;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
  